
.app{
  padding: 2rem;
}
body{
  background-color:  #f9fafc;
}
.input-form{
  margin: 0 auto;
 
}
.inputs{
  margin: 10px;
}
.form-container, .result{
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
  height: auto;
  padding: 10px;
  border-radius: 6px
}
.divBtn{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn{
  background-color: rgb(201, 196, 191);
}
.result{
  margin-top: 5px;
}
.inputs-container{
  min-height: 280px;
}

